In [ ]:
# no type determination
# this is a comment
x = "variable"
y = 123
z = 567
p = ["", 347438, [], {}]

In [ ]:
# idententation
if z > y:
    print("z is bigger then y")

if True:
    for

In [ ]:
# assign multiple values
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [3]:
# Print multiple values
x = "Python"
y = 4748
z = "awesome"
print(x, y, z)

Python 4748 awesome

In [ ]:
# global variable
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
# types
str
float # double in C
bool
list
tuple
range
dict
set

None

In [5]:
# numbers
x = 1    # int
y = 2.8  # float
xx = -2
yy = -6.78980

In [7]:
# print type
print(type(x))
print(type(yy))

<class 'int'>
<class 'float'>

In [11]:
if isinstance(5, str):
    print("str")
else:
    print("something else")

something else

In [12]:
# casting
zz = int(yy)
abc = int("3")
cba = str(0.7383)
print(zz)
print(abc)
print(cba)

-6
3
0.7383

In [ ]:
# strings
str1 = 'string'
str2 = "string"

multi_line_str = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

In [ ]:
def func():
    """
    this function deos x

    params:
    ...

    returns:
    ...
    """
    pass

In [13]:
# slicing string
b = "Hello, World!"
print(b[2:5])

b = "Hello, World!"
print(b[:5])

b = "Hello, World!"
print(b[2:])

b = "Hello, World!"
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [ ]:
# modify strings
a = "Hello, World!"
print(a.upper())

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

# https://www.w3schools.com/python/python_strings_methods.asp

In [14]:
# add strings together
a = "Hello"
b = "World"
c = a + " " + b
print(c)

# f-strings
symbol = ...
age = 36
txt = f"My name is John, I am {age}"
log = f"Symbol "{symbol} - {date} - ..."
print(txt)

Hello World
My name is John, I am 36

In [15]:
# booleans (True & False)
print(10 > 9)
print(False)

True
False

In [ ]:
# operators
# https://www.w3schools.com/python/python_operators.asp

In [29]:
# lists
fruits = ["apple", "banana", "cherry", 1, 48.3839]

# access
print(fruits[1])

# change
# try:
#     fruits[1] = "kiwi"
# except IndexError:
#     print("Out of range")
# except:
#     pass

# add
fruits.append("orange")
fruits.insert(1, "mango")

print(fruits)

# remove
fruits.remove("orange")
fruits.pop(1)
fruits.pop() # pop last item
# del fruits[0] # old way

banana
['apple', 'mango', 'banana', 'cherry', 1, 48.3839, 'orange']

48.3839

In [21]:
my_list = ["orange", "orange"]
my_list.remove("orange")
my_list

['orange']

In [24]:
# loop over list
for fruit in fruits:
    print(fruit)

for num in range(5, 8, -2):
    print(num)

apple
banana
cherry
1
48.3839

In [26]:
# list comprehession
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []

for fruit in fruits:
  if "a" in fruit:
    new_list.append(fruit)

print(new_list)
# ___

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [fruit for fruit in fruits if "a" in fruit ]

print(new_list)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [32]:
fruits

['apple', 'banana', 'cherry', 1]

In [31]:
fruits.sort()
fruits

TypeError: '<' not supported between instances of 'int' and 'str'

In [28]:
# sort list
new_list.sort()
print(new_list)
new_list.sort(reverse=True)
print(new_list)

['apple', 'banana', 'mango']
['mango', 'banana', 'apple']

In [ ]:
my_list

In [33]:
# join list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# tuples
# similar to lists, but unchangeable
my_tuple = ("apple", "banana", "cherry")

In [20]:
# sets
# unordered, and does not allow duplicates
my_set = {"apple", "banana", "cherry"}

# common use-case
my_list = ["apple", "peer", "apple"]
unique_list = list(set(my_list))

symbols = ["BTC/USDT", "ETh/usdt", "BTC/USDT"]

unique_list

['apple', 'peer']

In [39]:
# dictionaries
this_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
  
}

x = this_dict["brand"] # access an item
print(x)

Ford

In [41]:
# my_keys = list(this_dict.keys())

for i, (key, value) in enumerate(this_dict.items()):
    print(i, key, value)

0 brand Ford
1 model Mustang
2 year 1964

In [ ]:
# add item
this_dict["color"] = "red"

this_dict.update({"fghjhj": "blue"}) 
# If the item does not exist, the item will be added

In [ ]:
# remove item
this_dict.pop("model")
del this_dict["model"]

# empty whole dict
del this_dict
this_dict.clear()

In [42]:
# loop over dict
for x in this_dict:
  print(x)

for x in this_dict.values():
  print(x)

for x, y in this_dict.items(): # both key & value
  print(x, y)

brand
model
year
Ford
Mustang
1964
brand Ford
model Mustang
year 1964

In [ ]:
# copy dict
new_dict = this_dict.copy()

In [ ]:
# nested dictionaries
my_family = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
# if else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
# short if else
a = 2
b = 330
print("A") if a > b else print("B")

In [ ]:
# while loop
i = 1
while i < 6:
  print(i)
  i += 1

In [43]:
# for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

for x in "banana":
  print(x)

apple
banana
cherry
b
a
n
a
n
a

In [ ]:
# break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":

    # break
    raise Exception("dhjfdjkdflk")
    raise IndexError

In [ ]:
# range
for x in range(6): # 0 -> 5
  print(x)

for x in range(2, 30, 3): 
  print(x)

In [ ]:
# nested loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)